<br />
<div class="ui-comment">
 <h2>留言区</h2>
 </div>
<% post.comments.forEach(function(comment,index){ %>
 <div class="ui-comment">
 <p>
  <a href="<%= comment.website %>"><%= comment.name %></a>
  <span class="info">回复于<%= comment.time%></span>
 </p>
 <p><%- comment.content%></p>
 </div>
<% }) %>
<form action="/u/<%= post.name%>/<%= post.time.day%>/<%= post.title%>" class="ui-form" method="post">
<% if (user){ %>
 <div class="ui-form-group">
 <label for="name" class="ui-label">姓名：</label>
 <input type="text" class="ui-form-input ui-form-ele" name="name" value="<%= user.name%>" readonly >
 </div>
<div class="ui-form-group">
 <label for="email" class="ui-label">邮箱：</label>
 <input type="text" class="ui-form-input ui-form-ele" name="email" value="<%= user.email%>" readonly >
 </div>
 <div class="ui-form-group">
 <label for="website" class="ui-label">个人主页：</label>
 <input type="text" class="ui-form-input ui-form-ele" name="website" value="/u/<%= user.name%>" readonly >
 </div>
 <% } else{ %>
 <div class="ui-form-group">
 <label for="name" class="ui-label">姓名：</label><input type="text" class="ui-form-input ui-form-ele" name="name">
 </div>
 <div class="ui-form-group">
 <label for="email" class="ui-label">邮箱：</label><input type="text" class="ui-form-input ui-form-ele" name="email">
 </div>
 <div class="ui-form-group">
 <label for="website" class="ui-label">个人主页：</label><input type="text" class="ui-form-input ui-form-ele" name="website" value="http://">
 </div>
 <% } %>
 <div class="ui-form-group">
 <textarea id="comment_editor" name="content" style="display:none;"></textarea>
 </div>
 <div class="ui-form-group">
 <button class="ui-btn ui-btn-primary" type="submit">留言</button>
 </div>
</form>
<style>
.CodeMirror {
    height:150px;
    min-height:150px;
}
</style>
 <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
 <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<script src="/javascripts/common.js"></script>
